$branco:#FFF;
$rosa:#FF0F9A;
$amarelo:#FFC107;
$cinza:#343A40;
$roxo:#B343C3;

$cor-primary:$amarelo;
$cor-secundaria:$cinza;

$font-tam-padrao:max(2.2rem,min(2.4vw, 2.6rem));
$font-h1-padrao:max(2.2rem,min(2.4vw, 2.8rem));
$font-a-padrao:max(1.6rem,min(2vw, 2.2rem));
$font-strong-padrao:max(3.2rem,min(3.4vw, 3.8rem));
$star-tam-padrao:max(1.8rem,min(2.1vw, 2.5rem));
$icone-banner-statico-tam-padrao:max(3.8rem,min(4.5vw, 5.5rem));
