@use 'variaveis';
@mixin banners-promocionais($cor, $url-image){    
    background-color:$cor;
    background:url($url-image) no-repeat;
    
}   
.banners-promo-statico{

    margin-top:1rem;

    .banners-promo-statico-12x{     
        @include banners-promocionais(variaveis.$rosa, '../imagens/parcele-em-12x_sem_bg.jpg');         
    }
    .banners-promo-statico-todo-br{
        @include banners-promocionais(variaveis.$roxo, '../imagens/entrega-para-todo-brasil_sem_bg.jpg');        
    }
    .banners-promo-statico-12x,
    .banners-promo-statico-todo-br{              
        height: 10.5rem;  
        padding:2rem 6rem;                  
        background-color:cover; 
        color:variaveis.$branco;  

        svg, p{
            margin: 0;
            padding: 0;
        }

        svg{
            //width:5.5rem;
            //height:5.5rem; 
            width:variaveis.$icone-banner-statico-tam-padrao;       
            font-size: 55px;
        }

        p{
            font-weight: 100;            
            //font-size: 23px;
            font-size:variaveis.$font-tam-padrao;
            line-height: 110%;
            margin-left: 20px;
            strong{
                font-weight: bold;
            } 
        }                                 
    } 
}