    @use 'variaveis';

html{
    /* a cada 10px será considerado 1rem*/
    font-size:10px;
}

body{    
    color:variaveis.$cor-secundaria;
}

a{
    text-decoration:none !important;    
}

h1{
    font-size:2.6rem;
}
h4{
    //Footer
    margin:1rem 0;
}
h1,h2,h3,h4,h5{
    font-weight:bold;
}

